/* @import "tailwindcss"; */
 @import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f7fa;
  color: #1e293b;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}